.app-content-extension {
    .top-button {
        .ant-btn-group {
            margin-right: 5px;
            vertical-align: inherit;

            .ant-btn {
                margin-right: 0;
                border-left: 0 none;
                border-right: 0 none;
            }
        }

        form {
            padding: 0;
            border-bottom: 0 none;
            background-color: transparent;

            .ant-form-item {
                margin-bottom: 10px;
            }

            .ant-form-item-control {
                line-height: 28px;

                .ant-input[disabled] {
                    width: 300px;
                    border-color: #e1e1e1;
                }
            }
        }

        @media screen and (min-width: 1280px) {
            form {
                padding: 0;
                float: right;
                border-bottom: 0 none;
                background-color: transparent;

                .ant-form-item {
                    margin: 0 0 14px 10px;
                }

                .ant-form-item-control {
                    line-height: 28px;

                    .ant-input {
                        width: 300px;
                    }

                    .ant-btn {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}